<%= @memo_detail['title'] %>

<br>
<%= @memo_detail['detail'].gsub(/\r\n/, '<br>') %>



<br><br>
<a href="/new/<%= @json_file %>">変更</a>
<form action="/new/<%= @json_file%>" method="get">

  <input type='submit' value="変更2">
</form>

