
<p>
  <a href="memos/new">新規作成</a>
  <ul>
    <% read_memos.each do |link,memo| %>
    <li><a href="memos/<%= File.basename("#{link}") %>">
      <% if memo[:title].strip.empty? %>
        <span style="color: #CCC;">「タイトルがありません」</span>
      <% else %>
        <%= h(memo[:title]) %>
      <% end %>
    </a></li>
    <% end %>
  <ul>
</p>
